
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script-->
    <script href="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/waypoints/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/venobox/venobox.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/owl.carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/typed.js/typed.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/aos/aos.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>