  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="99">
      <h1>Shawn <span style="color:var(--button-dark-primary);">Kristek</span></h1>
      <p>>>> <span class="typed" data-typed-items="Software Engineer, with fullstack and AWS experience., Welcome to my portfolio., Below you'll find my favorite projects and the best ways to contact me."></span></p>
      <div class="social-links">
        <!--a href="{{ url_for('links.facebook') }}" class="facebook"><i class="bx bxl-facebook"></i></a-->
        <!--a href="{{ url_for('links.instagram') }}" class="instagram"><i class="bx bxl-instagram"></i></a-->
        <a href="{{ url_for('links.linkedin') }}" class="linkedin "><span class="tooltiptext">Let's Connect on LinkedIn</span><i class="bx bxl-linkedin"></i></a>
        <a href="{{ url_for('links.github') }}" class="github "><span class="tooltiptext">See my GitHub</span><i class="bx bxl-github"></i></a>
        <!-- a href="{{ url_for('links.freecodecamp') }}" class="freecodecamp"><span class="tooltiptext">Checkout my studies on fCC</span><i class="bx bxs-flame"></i></a -->
        <!-- a href="{{ url_for('links.email') }}" class="email "><span class="tooltiptext">Email Me</span><i class="bx bxs-envelope"></i></a -->
        <a href="{{ url_for('links.pdfresume') }}" class=""><span class="tooltiptext">Download My Resume</span><i class="bx bxs-download"></i></a>
        <!--a href="{{ url_for('links.codepen') }}" class="codepen"><i class="bx bxl-codepen"></i></a-->
        <!--a href="{{ url_for('links.freecodecamp') }}" class="freecodecamp"><i class="bx bxs-flame"></i></a-->
        <!--a href="{{ url_for('links.stackoverflow') }}" class="stackoverflow"><i class="bx bxl-stack-overflow"></i></a-->
      </div>
    </div>
  </section><!-- End Hero -->  <!-- ======= Hero Section ======= -->